/**************************************/
/*  RESET DEFAULT STYLES  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.container {
  padding: 0;
}

.row {
  margin: 0;
}

/**************************************/
/* GLOBAL */

h1,
h2 {
  font-family: "Oranienbaum";
  text-transform: uppercase;
}

h2 {
  padding-top: 1.8em;
  padding-bottom: 1em;
}

h3,
h4 {
  font-family: "Roboto";
}

h4 {
  padding-top: 6px;
  font-size: 12px;
  color: #aaa;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active {
  text-decoration: underline;
}

body {
  font-family: "Oranienbaum" sans-serif;

  background-image: url(img/bg-main.png);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-color: black;
}

.main-container {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.img-fluid {
  width: 100%;
  height: auto;
}

/**************************************/
/* HEADER */

.main-header {
  padding-top: 3rem;
}

.main-header-links {
  position: relative;
}

.main-header .nav-link:link,
.main-header .nav-link:visited,
.main-header .nav-link:hover,
.main-header .nav-link:active {
  font-family: "Oranienbaum";
  font-size: 20px;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
}

.nav-toggler-button {
  border: none;
  background-color: transparent;
}

.sticky-top {
  width: 100%;
  height: 3rem;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.sticky-top .nav-link:link,
.sticky-top .nav-link:visited,
.sticky-top .nav-link:hover,
.sticky-top .nav-link:active {
  background-color: rgba(0, 0, 0, 0.8);
}

.contacts a {
  padding-left: 0.4em;
  font-family: "Oranienbaum";
}

.phones {
  flex-flow: column;
  min-width: 110px;
}

/**************************************/
/* SECTION HERO AND LOGO */

.section-hero {
  padding: 130px 0 200px 0;
}

.hero-mission span {
  font-family: "Oranienbaum";
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

.hero-mission h1 {
  font-size: 16px;
  color: #cdb380;
  text-decoration: underline;
}

/**************************************/
/* SECTION AMBULANCE STYLISH HELP */

main {
  background-color: #fff;
}

.section-ambulance-stylish-help .section-header {
  position: relative;
  overflow: hidden;
}

.section-ambulance-stylish-help .section-header::after {
  content: "Новинка";
  position: absolute;
  top: 17%;
  left: -10%;
  padding: 0.1rem 8rem;
  color: #fff;
  background-color: #f00;
  transform: rotate(324deg);
}

.section-ambulance-stylish-help .text {
  margin: 0 auto;
  padding: 0 0.3rem;
  max-width: 820px;
  text-align: center;
  text-transform: uppercase;
}

/**************************************/
/* SECTION HOW IT WORKS */

.section-how-it-works p {
  padding-bottom: 1em;
  font-family: "Roboto";
  font-size: 18px;
  color: #aaa;
}

.section-how-it-works .procedure p:last-child {
  padding: 0 0.3rem;
}

/* TABLE */

.new-table {
  margin: 0 auto;
  max-width: 850px;
  background-color: yellow;
}

.new-table th,
.new-table td {
  text-align: center;
}

.table-header th:first-child,
.table-body th {
  width: 50%;
  text-align: start;
}

.table-header {
  background-color: rgb(205, 177, 0);
}

.table-body tr:nth-child(5) {
  background-color: rgb(205, 177, 0);
}

.currency-selection p {
  margin: 0 0.2em;
  padding: 0 0.4em;
  border: #000 1px solid;
  color: #000;
}

.new-table .table-button {
  padding: 0.5em 1em 0.5em 1em;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: rgb(244, 92, 92);
  color: #fff;
}

/* BUNDLES */

.bundle {
  padding: 10px;
  max-width: max-content;
  border: 3px solid #aaa;
}

.bundle:hover {
  border-color: rgb(125, 125, 125);
  box-shadow: -1px 1px 13px 9px rgba(0, 0, 0, 0.2);
}

.bundle p {
  margin-bottom: 0;
}

.bundle header {
  margin-bottom: 20px;
}

.bundle-name {
  min-width: 250px;
  text-align: center;
}

.bundle-name p:first-child {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.bundle-name p:last-child {
  font-size: 32px;
  font-weight: 700;
}

.bundle-text div {
  margin-bottom: 10px;
}

.bundle-text p {
  font-size: 20px;
  color: #aaa;
}

.bundle-text strong {
  font-weight: 500;
  color: #000;
}

.bundle-price {
  position: relative;
  text-align: center;
  line-height: 1.3;
  font-size: 32px;
  color: #000;
  font-weight: 700;
}

.bundle-price::before {
  content: "";
  position: absolute;
  top: 23%;
  left: 35%;
  width: 2.3em;
  height: 0.05em;
  background-color: #f00;
  transform: rotate(167deg);
}

.bundle-price-before-discont {
  font-size: 0.8em;
  font-weight: 300;
  color: #aaa;
}

.bundle-price p::after {
  content: "\20BD";
}

.bundle-buy-button {
  margin-top: 20px;
}

.bundle-buy-button button {
  width: 100%;
  height: 3em;
  border: none;
  border-radius: 3px;
  background-color: rgb(244, 92, 92);
  color: #fff;
  text-transform: uppercase;
}

/**************************************/
/* HOW IT WORKS - CAROUSEL */

.section-carousel {
  padding-bottom: 80px;
}

.carousel-img {
  max-width: 250px;
}

.carousel-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  color: #aaa;
}

/**************************************/
/* FOOTER */

.footer {
  padding-top: 0.6rem;
  background-color: #000;
}

.button-to-top button {
  padding: 0.5em 1em 0.5em 1em;
  border: #fff 2px solid;
  background-color: transparent;
  color: #fff;

  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.button-to-top button::after {
  content: " \1431";
  font-weight: 800;
}

.footer-list-container {
  padding-top: 1.5rem;
}

.footer-list li {
  padding-bottom: 0.5em;
  list-style: none;

  font-size: 16px;
  color: white;
}

.footer-list a:link,
.footer-list a:visited {
  text-decoration: none;
  color: #fff;
}

.footer-list a:hover,
.footer-list a:active {
  text-decoration: underline;
  color: rgb(125, 125, 125);
}
